<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/auth" method="POST">
  {{ csrfField() }}
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
  
    <label for="senha">Senha:</label>
    <input type="text" id="senha" name="senha"><br><br>
  
    <input type="submit" value="Submit">
    @if(old('notification'))
    <p style="color:red">
        {{ old('notification') }}
    </p>
    @endif

  </form>
  
  
</body>
</html>
