<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  <h1>Login</h1>
  <form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
  
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
  
    <input type="submit" value="Submit">
  
  </form>
  
  
</body>
</html>
